<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        Create Service Category
    </title>
    <link rel="stylesheet" href="/css/pm.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <h1>Create a New Service Category</h1>
        <p th:if="${success}" class="success-message" th:text="${success}"></p>
        <p th:if="${error}" class="error-message" th:text="${error}"></p>

        <div>
            <form th:object="${category}" th:action="@{/manager/createCategory}" method="post" class="form-box">
                <input th:field="*{name}" type="text" placeholder="Category Name" required />
                <input th:field="*{description}" type="text" placeholder="Description" required />
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
