<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        Update Service Category
    </title>
    <link rel="stylesheet" href="/css/pm.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <div class="header">
            <h1>Update Category</h1>
            <a href="/manager/viewCategory" class="back-button">← Back</a>
        </div>

        <div th:if="${error}" class="error-message" th:text="${error}"></div>
        <div th:if="${message}" class="success-message" th:text="${message}"></div>

        <form th:action="@{/manager/updateCategory}" th:object="${category}" method="post" class="form-box">
            <input type="hidden" th:field="*{id}" />
            <label for="name">Category Name</label>
            <input type="text" id="name" th:field="*{name}" />
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" />
            <button type="submit class="button"">Update</button>
        </form>
    </div>
</div>

</body>
</html>
