<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>
    <link rel="stylesheet" href="/css/cleaner.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <div th:if="${message}" class="success-message">Update Success!</div>
        <div class="header">
            <h1 class="view-account-header" th:text="${category.name}">Category Title</h1>
            <a th:href="@{/manager/viewCategory}" class="back-button">← Back to All Categories</a>
        </div>

        <div class="details-box">
            <p><strong>Name:</strong> <span th:text="${category.name}"></span></p>
            <p><strong>Description:</strong> <span th:text="${category.description}"></span></p>
            <br/>
            <a th:href="@{/manager/updateCategory(name=${category.name})}" class="button">Update Service Category</a>
            <a th:href="@{/manager/deleteCategory(id=${category.id})}" class="button">Delete Service Category</a>
        </div>

    </div>
</div>

</body>
</html>
