<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        View Category + Search bar
    </title>
    <link rel="stylesheet" href="/css/pm.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/spinner.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <!-- + Search bar here -->
    <div class="main-content">
        <h1 class="View-Categories">All Categories</h1>
        
        <form action="#" method="get" th:action="@{/manager/viewCategory}" class="search-form">
            <input type="text" name="searchQuery" placeholder="Search by title" th:value="${searchQuery}" >
            <button type="submit">Search</button>
            <div th:replace="~{fragments/loader :: searchLoader('inline')}"></div>
        </form>
            
            <!-- Show different categories -->
        <div class="categories-box" style="margin-top: 20px;">
            <a th:each="category : ${categories}" 
                    th:href="@{'/manager/viewSingleCategory'(id=${category.id})}" 
                    class="cat-link">
                    <div class="cat-entry-box"> 
                        <p><strong>Name:</strong> <span th:text="${category.name}"></span></p>
                        <p><strong>Description:</strong> <span th:text="${category.description}"></span></p>
                        <p><strong>Status: </strong><span th:text="${category.status}"></span></p>
                    </div>
            </a>   
        </div>
    </div>
</div>

<script src="/js/loader.js"></script>
    
</body>
</html>
