<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User Account</title>
    <link rel="stylesheet" href="/css/useradmin.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <h1>Create User Account</h1>
        <div th:if="${error}" class="error-message" th:text="${error}"></div>
        <div th:if="${success}" class="success-message" th:text="${success}"></div>

        <form th:action="@{/admin/createUser}" th:object="${newUser}" method="post" class="form-box">
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}" required />
        
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" required />
        
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" required />
        
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" required />
        
            <label for="profileCode">Profile</label>
            <select id="profileCode" th:field="*{profileCode}">
                <option th:each="p : ${profiles}" th:value="${p.code}" th:text="${p.name}"></option>
            </select>
        
            <div class="button-group">
                <button type="submit" class="button">Create Account</button>
            </div>
        </form> 
    </div>
</div>

</body>
</html>
