<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
  <link rel="stylesheet" href="/css/useradmin.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <div class="main-content">
    <div class="header">
        <h1>User Details</h1>
        <a href="/admin/viewUserAccounts" class="back-button">← Back</a>
    </div>

    <div th:if="${message}" class="success-message" th:text="${message}"></div>
    
    <div th:if="${error}" class="alert error">
      <p th:text="${error}"></p>
    </div>


    <div class="form-box">
      <p><b>User ID:</b> <span th:text="${viewedUser.uid}"></span></p>
      <p><b>Name:</b> <span th:text="${viewedUser.firstName + ' ' + viewedUser.lastName}"></span></p>
      <p><b>Email:</b> <span th:text="${viewedUser.email}"></span></p>
      <p><b>Profile:</b> <span th:text="${profile.name}"></span></p>
      <p><strong>Status:</strong>
        <span th:text="${user.status.toLowerCase() == 'suspended' ? 'Suspended' : 'Active'}"
              th:classappend="${user.status.toLowerCase() == 'suspended'} ? 'status-suspended' : 'status-active'">
        </span>
      </p>
      
      
      <a th:href="@{'/admin/updateUser'(uid=${viewedUser.uid})}" class="button">Edit</a>
      
      <form th:action="@{/admin/suspendUser}" method="post" 
            onsubmit="return confirm('Are you sure you want to suspend this user?');"
            style="display:inline;">
        <input type="hidden" name="uid" th:value="${user.uid}" />
        <button type="submit" class="button" >Suspend</button>
      </form>
    </div>    
  </div>
</div>

</body>
</html>
