<div th:fragment="sidebar">
    <div class="sidebar">
        <h2>Menu</h2>
        <div th:if="${user != null}">
            <!-- Cleaner Links -->
            <div th:if="${user.profileCode == 'P002'}">
                <a href="/dashboard" th:classappend="${activePage == 'dashboard'} ? 'active'">Dashboard</a>
                <a href="/cleaner/createListing" th:classappend="${activePage == 'createListing'} ? 'active'">Create Listing</a>
                <a href="/cleaner/viewListings" th:classappend="${activePage == 'viewListings'} ? 'active'">Manage Listings</a>
                <a href="/cleaner/jobRequests" th:classappend="${activePage == 'jobRequests'} ? 'active'">Pending Requests</a>
                <a href="/cleaner/jobHistory" th:classappend="${activePage == 'jobHistory'} ? 'active'">Job History</a>
            </div>

            <!-- Admin Links -->
            <div th:if="${user.profileCode == 'P001'}">
                <!-- User Accounts -->
                <div th:if="${session.tab == 'accounts'}">
                    <a href="/dashboard" th:classappend="${activePage == 'dashboard'} ? 'active'">Dashboard</a>
                    <a href="/admin/createUser" th:classappend="${activePage == 'createUser'} ? 'active'">Create User</a>
                    <a href="/admin/viewUserAccounts" th:classappend="${activePage == 'viewUsers'} ? 'active'">Manage Users</a>
                </div>

                <!-- User Profiles -->
                <div th:if="${session.tab == 'profiles'}">
                    <a href="/dashboard" th:classappend="${activePage == 'dashboard'} ? 'active'">Dashboard</a>
                    <a href="/admin/createProfile" th:classappend="${activePage == 'createProfile'} ? 'active'">Create Profile</a>
                    <a href="/admin/viewProfiles" th:classappend="${activePage == 'viewProfiles'} ? 'active'">Manage Profiles</a>
                </div>
            </div>

            <!-- Homeowner Links -->
            <div th:if="${user.profileCode == 'P003'}">
                <a href="/dashboard" th:classappend="${activePage == 'dashboard'} ? 'active'">Dashboard</a>
                <a href="/homeowner/searchListings" th:classappend="${activePage == 'searchListings'} ? 'active'">Search Listings</a>
                <a href="/homeowner/bookmarks" th:classappend="${activePage == 'bookmarks'} ? 'active'">My Bookmarks</a>
                <a href="/homeowner/bookings" th:classappend="${activePage == 'bookings'} ? 'active'">My Bookings</a>
            </div>

            <!-- Platform Manager Links -->
            <div th:if="${user.profileCode == 'P004'}">
                <a th:href="@{/dashboard}" th:classappend="${activePage == 'dashboard'} ? 'active'">Dashboard</a>
                <a th:href="@{/manager/createCategory}" th:classappend="${activePage == 'createCategory'} ? 'active'">Create New Category</a>
                <a th:href="@{/manager/viewCategory}" th:classappend="${activePage == 'viewCategory'} ? 'active'">View Categories</a>
                <a th:href="@{/manage/report/daily}" th:classappend="${activePage == 'report'} ? 'active'">Generate Report</a>
            </div>
        </div>
    </div>
</div>
