<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Listings</title>
    <link rel="stylesheet" href="/css/cleaner.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <h1 class="view-account-header">My Listings</h1>

        <form th:action="@{/cleaner/viewListings}" method="get" class="search-form">
            <input type="text" name="q" th:value="${param.q}" placeholder="Search by title or description…" />
            <button type="submit">Search</button> 
        </form>
        
        <div class="user-list-box">
            <div th:if="${#lists.isEmpty(listings)}"><p>No listings found. Please create one!</p>
                <a th:each="listing : ${listings}" 
                   th:href="@{'/cleaner/viewListing'(id=${listing.id})}" 
                   class="user-link">
                    <div class="user-entry-box">
                        <span th:text="${listing.title}">Listing Title</span>
                        <span th:text="'$' + ${listing.price}"></span>
                        <p><strong>Views:</strong> <span th:text="${listing.views}">0</span></p>
                    </div>
                </a>
            </div>
        </div>
        <h1 class="view-account-header">Suspended Listings</h1>
        <div class="suspended-listings-box">
        <!-- Non-empty list -->
            <div th:if="${!#lists.isEmpty(suspendedListings)}">
                <a th:each="listing : ${suspendedListings}"
                th:href="@{/cleaner/viewListing(id=${listing.id})}"
                class="user-link">
                <div class="user-entry-box">
                    <span th:text="${listing.title}">Listing Title</span>
                    <span th:text="'$' + ${listing.price}"></span>
                </div>
                </a>
            </div>
            <!-- Empty list -->
            <div th:if="${#lists.isEmpty(suspendedListings)}">
                <p>No suspended listings.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
