<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing Details</title>
    <link rel="stylesheet" href="/css/cleaner.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <div th:if="${message}" class="alert success">Update Success!</div>
        <div class="header">
            <h1 class="view-account-header" th:text="${listing.title}">Listing Title</h1>
            <a href="/cleaner/viewListings" class="back-button">← Back to Listings</a>
        </div>

        <div class="details-box">
            <p><strong>Title:</strong> <span th:text="${listing.title}"></span></p>
            <p><strong>Description:</strong> <span th:text="${listing.description}"></span></p>
            <p><strong>Price:</strong> $<span th:text="${listing.price}"></span></p>
            <p><strong>Status:</strong> <span th:text="${listing.status}"></span></p>
            <p><strong>Views:</strong> <span th:text="${listing.views}">0</span></p>
            <br/>
            <a th:href="@{/cleaner/updateListing(id=${listing.id})}" class="button">Update Listing Details</a>
            <a th:href="@{/cleaner/suspendListing(id=${listing.id})}"class="button">Suspend Listing</a>
        </div>

    </div>
</div>

</body>
</html>
