<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Listings</title>
    <link rel="stylesheet" href="/css/cleaner.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/spinner.css">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="main-content">
        <h1 class="view-account-header">My Listings</h1>

        <form action="#" method="get" th:action="@{/cleaner/viewListings}" class="search-form">
            <input type="text" name="searchQuery" placeholder="Search by title" th:value="${searchQuery}" >
            <button type="submit">Search</button>
            <div th:replace="~{fragments/loader :: searchLoader('inline')}"></div>
        </form>
        
        <div class="user-list-box">
            <!-- if empty -->
            <div th:if="${#lists.isEmpty(listings)}">
                <p>No listings found. Please create one!</p> 
            </div>
            <!-- if not empty -->
            <div th:if="${!#lists.isEmpty(listings)}">
                <a th:each="listing : ${listings}" 
                th:href="@{'/cleaner/viewListing'(id=${listing.id})}" 
                class="user-link">
                    <div class="user-entry-box">
                        <span th:text="${listing.title}">Listing Title</span>
                        <span th:text="'$' + ${listing.price}"></span>
                        <p><strong>Views:</strong> <span th:text="${listing.views}">0</span></p>
                    </div>
                </a>  
            </div>

        </div>
        <h1 class="view-account-header">Suspended Listings</h1>
        <div class="user-list-box">
            <!-- Empty list -->
            <div th:if="${#lists.isEmpty(suspendedListings)}">
                <p>No suspended listings.</p>
            </div>
            <!-- Non-empty list -->
            <div th:if="${!#lists.isEmpty(suspendedListings)}">
                <a th:each="listing : ${suspendedListings}" 
                th:href="@{'/cleaner/viewListing'(id=${listing.id})}" 
                class="user-link">
                    <div class="user-entry-box">
                        <span th:text="${listing.title}">Listing Title</span>
                        <span th:text="'$' + ${listing.price}"></span>
                        <p><strong>Views:</strong> <span th:text="${listing.views}">0</span></p>
                    </div>
                </a>   
            </div>
            
        </div>
    </div>
</div>

</body>
</html>
